.checkout-container {
    margin: 20px;
}

.checkout-title {
    margin-bottom: 20px;
}

.checkout-items {
    width: 100%;
}

.checkout-summary {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkout-summary h2 {
    margin-top: 0;
}

.checkout-subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.confirm-order-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; 
}

.confirm-order-button:hover {
    background-color: #78cd7b;
}

.payment-section {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.payment-section h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.payment-section label {
    display: block;
    margin-bottom: 8px;
}

.payment-section input[type="text"] {
    width: calc(100% - 20px); 
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
}

.payment-section button[type="submit"] {
    padding: 8px 16px;
    font-size: 0.9rem;
}


.payment-section button[type="submit"]:hover {
    background-color: #0056b3;
}

