@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.data-entry-container {
    display: flex;
    justify-content: center;
    background-color: #c0c0c0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    height: 100vh;
}


#title {
    color: black;
    font-weight: 500;
    font-size: xx-large;
    text-align: left;
    padding-left: 1%;
}

.text-label {
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 2px; 
}

.required {
    color: red;
}

.form-wrapper {
    padding: 10px;
    width: 50rem;
}

.form-container {
    background-color: rgb(222, 222, 222);
    margin-top: 2rem;
    margin-left: 0;
    padding: 5px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    padding: 0 .5rem;
    border-radius: 4px;
    border: 2px solid rgb(150, 150, 150);
    height: 35px;
    font-size: 15px;
    width: 100%;
}

.text::placeholder {
    opacity: .5;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.line-container {
    display: flex;
    justify-content: space-between;
}

.line-container-two {
    display: flex;
    justify-content: left;
}

.button-wrapper {
    margin: 5px;
    display: flex;
    justify-content: right;
}

.entry-button {
    background-color: #FFAEB9;
    border: none;
    width: 100%;
    color: white;
    border-radius: 6px;
    margin-top: 20px;
    margin-right: .5%;
    padding: 12px;
    transition: background-color 0.3s ease;
}

.entry-button:hover {
    background-color: #65232c;
}
/* .close-button{
    background-color:#65232c;
    border: none;
    width: 100%;
    color: #65232c;
    border-radius: 6px;
    margin-top: px;
    margin-right: 27%;
    padding: 102px;
    transition: background-color 0.3s ease;
} */
.close-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-button span {
    font-size: 30px;
    color: #333;
    line-height: 30px;
}

.close-button:hover span {
    color: #777;
} 