.profile-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: row;
}

.personal-info {
  flex: 1; /* Personal info takes up remaining space */
  margin-right: 20px; /* Add margin between personal info and order history */
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  width: 750px;
  padding: 20px;
  justify-content: fill;
  display: inline-block;
}

.personal-info button {
  display: inline-block;
  width: 100px;
  white-space: normal;
  margin-left: 390px;
   /* Ensures the button and heading are on the same line */
}

.order-history {
  height: 300px;
  overflow-y: auto;
  padding: 20px;
  flex: 2; /* Order history takes up twice the space of personal info */
}

.order-history .order {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  justify-content: wrap;
  align-items: center;
}
.order-history-image {
  width: 200px; 
  height: auto; 
  margin-right: 25px;
}

.review-button {
  display: inline-block;
  white-space: normal;
  margin-left: auto;
}

.manage-modal-content {
  position: relative;
  width: 300px; /* Adjust the width as needed */
  margin: left; /* Center the modal horizontally */
  padding: 50px;
}
.manage-modal-content input {
  justify-content: center;
  width: 300;
  margin-bottom: 15px; /* Add padding between each label and input field */
}

.manage-modal-content button[type="submit"] {
  margin-bottom: auto;
  justify-content: inline;
  padding: 10px;
  margin-right: 10px;
}

.exit-button {
  cursor:pointer;
  position: absolute; /* Position the button absolutely */
  top: 10px; /* Adjust the distance from the top */
  left: 10px; /* Adjust the distance from the left */
  padding: 10px;
}


/* Add more styles as needed */
